<!DOCTYPE html>
<html lang="he" dir="rtl">

<body>


    <form action="" class="formLogin">
        <div class="formLoginHeader">משתמש רשום? <br> התחבר:</div>
        <div><br><br>הכנס שם משתמש:<br>
            <input type="text" name="userName" value=" ">
            <br><br>הכנס סיסמא:<br>
            <input type="text" name="password" value=" ">
            <br><br><br></div>
        <input type="submit" value="התחבר" class="buttonLogin">
    </form>
</body>

</html>