<!DOCTYPE html>
<html lang="he" dir="rtl">

<body>

    <div class="navheader">
        <li><a class="about">אודות</a></li>
        <li><a class="courses">קורסים</a></li>
        <li><a href="gallery" class="gallery">גלריה</a></li>
        <li><a href="contact" class="contact">צור קשר</a></li>
    </div>
</body>

</html>