.header {
    position: fixed;
    width: 100%;
    min-height: 130px;
    max-height: 130px;
    background-image: url(/pic/header.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 1px 7px rgb(110, 96, 116);
    text-decoration-line: none;
    text-align: right;
}

.logo {
    float: right;
    margin: 25px;
    box-shadow: 1px 1px 7px rgb(19, 2, 34);
    width: 250px;
}

.navheader {
    margin-top: 90px;
}

.navheader li {
    display: inline;
    margin-inline-end: 20px;
}

.navheader a {
    clear: both;
    margin-top: 120px;
    color: rgb(110, 96, 116);
    font-family: Gisha;
    font-size: 25px;
}

.about:hover {
    cursor: pointer;
}

.courses:hover {
    cursor: pointer;
}

.navheader a:hover {
    text-decoration-line: none;
    color: rgb(40, 4, 73);
    text-shadow: 5px rgb(40, 4, 73);
}



.formLogin {
    position: fixed;
    margin-top: 170px;
    margin-left: 20px;
    margin-right: 80%;
    width: 250px;
    height: 350px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(19, 2, 34);
    font-family: Gisha;
    font-weight: bold;
    font-size: 15px;
    color: rgb(19, 2, 34);

}

.formLoginHeader {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.formLogin input:focus {
    outline: none;
    border: 1px solid rgba(40, 4, 73, 0.8);
}

.buttonLogin {
    float: left;
    margin-top: 7px;
    width: 80px;
    background-color: rgb(170, 156, 177);
    text-align: center;
    color: rgb(19, 2, 34);
}

.buttonLogin:hover {
    background-color: rgb(19, 2, 34);
    color: white;
}

.aboutus {
    padding-top: 170px;
    padding-right: 70px;
    width: 70%;
    text-align: justify;
    color: rgb(19, 2, 34);
}

.courseslist table {
    float: right;
    width: 70%;
    margin-top: 70px;
}

.courseslist td {
    background-image: url(pic/6612.jpg);
    background-size: 100% 100%;
    margin: 30px;
    padding: 10px;

}




.gofan {
    font-family: VrelaRound;
}

.formRegister {
    margin-top: 40px;
}

.formRegister table {
    padding: 20px 30px 20px 15px;
    margin: auto;
    border: 0.3cm;
    border-style: outset;
    /* border-radius: 20px; */
    border-color: rgba(244, 240, 248, 0.575);
    background-color: rgb(235, 214, 159);
}

.logoRegister {
    width: 120px;
    box-shadow: 1px 1px 7px rgb(19, 2, 34);
    margin-right: 60%;
}

.formHeader {
    padding-top: 7px;
    color: rgba(40, 4, 73, 0.8);
    text-align: center;
    font-size: 35px;
    font-weight: bold;

}

.formInstraction {
    color: rgba(40, 4, 73, 0.8);
    text-align: center;
    font-size: 21px;
    font-style: italic;
}

.formRegister table tr td {
    text-align: right;
    padding-left: 5px;
}

.formRegister input:focus {
    outline: none;
    border: 1px solid rgba(40, 4, 73, 0.8);
}

.secmenu {
    padding-top: 170px;
    padding-right: 70px;
    width: 150px;
}

.secmenu li {
    color: rgb(19, 2, 34);
    background-color: rgb(110, 96, 116);
}