<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <title>קורסי מתנ"ס</title>
    <link rel="stylesheet" type="text/css" href="/style/stylepro.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="header">
        <%- include ../partials/header%>
        <!-- <div class="logoImg" href="home.html">
            <img src="/pic/logo.jpg" class="logo" alt="logo">
        </div> -->
        <%- include ../partials/navheader%>
        <!-- <div class="navheader">
            <li><a class="about">אודות</a></li>
            <li><a class="courses">קורסים</a></li>
            <li><a href="gallery.html" class="gallery">גלריה</a></li>
            <li><a href="contact.html" class="contact">צור קשר</a></li>
        </div> -->
    </div>
    <%- include ../partials/formLogin%>
    <!-- <form action="" class="formLogin">
        <div class="formLoginHeader">משתמש רשום? <br> התחבר:</div>
        <div><br><br>הכנס שם משתמש:<br>
            <input type="text" name="userName" value=" ">
            <br><br>הכנס סיסמא:<br>
            <input type="text" name="password" value=" ">
            <br><br><br></div>
        <input type="submit" value="התחבר" class="buttonLogin">
    </form> -->
    <div class="aboutus">
        <h1>אודות מרכז הקורסים</h1>
        <p> לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר
            מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי מוסן
            מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.מנת. להאמית קרהשק סכעיט דז
            מא, מנכם למטכין נשואי מנורך. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.
            מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד
            אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעסדומ
        </p>
    </div>
    <div class="courseslist">
        <table>
            <tr>
                <td><a href="">קורס 1</a></td>
                <td><a href="">קורס 2</a></td>
                <td><a href="">קורס 3</a></td>
            </tr>
            <tr>
                <td><a href="">קורס 4</a></td>
                <td><a href="">קורס 5</a></td>
                <td><a href="">קורס 6</a></td>
            </tr>
        </table>

    </div>

</body>

<script>
    // listen to click event of the submit button
    $('#submitLogin').click(function (e) {
        // make sure the form is not submitted
        e.preventDefault();
        // run the form validations
        document.getElementsByClassName('formLogin')[0].checkValidity();
        // check if the form is valid
        if (document.getElementsByClassName('formLogin')[0].reportValidity()) {
            // form is valid, create a post request
            $.ajax({
                type: "post",
                url: "registration/login",
                // the user data 
                data: {
                    userName: $('#userName').val(),
                    password: $('#password').val()
                },
                complete: // this function will run if the request is successful
                    function (xhr, status) {
                        // check if there is an error
                        if (status === 'error') {
                            alert(xhr.responseText);
                        } else {
                            res.send(pages / secretary.html);
                        }
                    }
            });
        }
    });
</script>


<script>
    dropdownlist.addEventListener("click", openList);

    function openList() {

    }
</script>

</html>