<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <title>קורסי מתנ"ס</title>
    <link rel="stylesheet" type="text/css" href="/style/stylepro.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="header">
        <%- include ../partials/header%>
        <%- include ../partials/navheader%>
    </div>
    <%- include ../partials/formLogin%>

    <div class="aboutus">
        <h1>אודות מרכז הקורסים</h1>
        <p> לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי במר
            מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק - וענוף לפרומי בלוף קינץ תתיח לרעח. לת צשחמי מוסן
            מנת. להאמית קרהשק סכעיט דז מא, מנכם למטכין נשואי מנורך. קולורס מונפרד אדנדום סילקוף, מרגשי ומרגשח. עמחליף
            הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה מנק הבקיץ אפאח דלאמת יבש, כאנה
            ניצאחו נמרגי שהכים תוק, הדש שנרא התידם הכייר וק.

            ושבעגט ליבם סולגק. בראיט ולחת צורק מונחף, בגורמי מגמש. תרבנך וסתעד לכנו סתשם השמה - לתכי מורגם בורק? לתיג
            ישבעס.

            סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט - לפתיעם ברשג - ולתיעם גדדיש. קוויז דומור ליאמום
            בלינך רוגצה. לפמעט מוסן מנת. הועניב היושבב שערש שמחויט - שלושע ותלברו חשלו שעותלשך וחאית נובש ערששף. זותה
            מנק הבקיץ אפאח דלאמת יבש, כאנה ניצאחו נמרגי שהכים תוק, הדש שנ
        </p>
    </div>
    <div class="courseslist">
        <table>
            <tr>
                <td><a href="">קורס 1</a></td>
                <td><a href="">קורס 2</a></td>
                <td><a href="">קורס 3</a></td>
            </tr>
            <tr>
                <td><a href="">קורס 4</a></td>
                <td><a href="">קורס 5</a></td>
                <td><a href="">קורס 6</a></td>
            </tr>
        </table>

    </div>

</body>

</html>