<!DOCTYPE html>

<html lang="he" dir="rtl">
<link rel="stylesheet" type="text/css" href="/style/stylepro.css" />

<body>

    <div class="header">
        <%- include ../partials/header%>
        <div class="navheader">
            <li><a> דף הבית - מזכירה</a></li>
            <li><a style="margin-right: 650px;">התנתק</a></li>
        </div>
    </div>
    <div>
        <ul class="secmenu">
            <li>חדש <ul>
                    <li>תלמיד חדש</li>
                    <li>קורס חדש</li>
                    <li>מרצה/עובד חדש</li>
                    <li>סניף חדש</li>
                </ul>
            </li>
            <li> חיפוש<ul>
                    <li> חיפוש לפי שם משפחה</li>
                    <li>חיפוש לפי מספר זהות</li>
                    <li>חיפוש לפי נייד</li>
                </ul>
            </li>
            <li>טבלאות <ul>
                    <li>טבלת תלמידים</li>
                    <li>טבלת מורים/עובדים</li>
                    <li>טבלת קורסים</li>
                    <li>טבלת סניפים</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>