<!DOCTYPE html>

<head>
    <html lang="he" dir="rtl">
    <link rel="stylesheet" type="text/css" href="/style/stylepro.css" />
    <title>מזכירה-קורסי מתנ"ס</title>
</head>

<body>

    <div class="header">
        <%- include ../partials/header%>
        <div class="navheader">
            <li><a> דף הבית - מזכירה</a></li>
            <li><a style="margin-right: 650px;" href="/">התנתק</a></li>
        </div>
    </div>
    <div>
        <ul class="secmenu">
            <li>חדש <ul>
                    <li onclick="myFunction()">תלמיד חדש</li>
                    <li>קורס חדש</li>
                    <li>מרצה/עובד חדש</li>
                    <li>סניף חדש</li>
                </ul>
            </li>
            <li> חיפוש<ul>
                    <li> חיפוש לפי שם משפחה</li>
                    <li>חיפוש לפי מספר זהות</li>
                    <li>חיפוש לפי נייד</li>
                </ul>
            </li>
            <li>טבלאות <ul>
                    <li>טבלת תלמידים</li>
                    <li>טבלת מורים/עובדים</li>
                    <li>טבלת קורסים</li>
                    <li>טבלת סניפים</li>
                </ul>
            </li>
            <li>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>

</body>
<script>
    // When the user clicks on div, open the popup
    function myFunction() {
        let popup = document.window.href = ("/studentreg");
        popup.class.toggle("show");
    }
</script>

</html>